{% extends "register_home.html" %}
{% block title %}Home{% endblock %}
{% block content %}        
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Influencer Engagement Platform!</h1>
        <p class="lead">Connect with the best influencers to advertise your product or service, or become an influencer and start earning by promoting products you love.</p>
        <hr class="my-4">
        <p>If you are a sponsor, create and manage campaigns. If you are an influencer, browse and accept ad requests.</p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register Now</a>
    </div>
{% endblock %}